<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <lable for="username">name: </lable>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <br/>
    <lable for="surname">surname:</lable>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br/>
    <lable for="password">password:</lable>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <lable for="roles">roles (1-admin, 2-user):</lable>
    <input type="text" th:field="*{roles}" id="roles"/>
    <br/>

    <br/>
    <input type="submit" value="Create!"/>
    <br/>

    <br/>
    <hr/>
    <a th:href="@{/logout}">LOGOUT</a>
    <br/>

</form>

</body>
</html>