<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>

<!-- NAV меню сверху -->
<nav class="navbar bg-dark justify-content-between" style="margin-bottom: 0px">
    <p class="navbar-brand text-white">
        <b><span th:text="${user.getUsername()}"></span></b> with roles: USER
    </p>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark text-secondary">Logout</button>
    </form>
</nav>

<!-- Main Article -->
<div class="container-fluid text-center row content h-100">

    <!-- Left panel -->
    <ul class="list-group col-sm-2 sidenav margin white">
        <br/>
        <li class="list-group-item active">User</li>
    </ul> <!-- Left panel Close -->

    <!-- Right panel -->
    <div class="col-sm-10 text-left bg-light">
        <br/>
        <h1>User information-page</h1>
        <div class="white">
            <div class="gray border">
                <h3 style="text-align: left; margin: 1%"> About user</h3>
                <div style="margin-left:1%;margin-right:1%">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" width=10%>ID</th>
                            <th scope="col" width=20%>First Name</th>
                            <th scope="col" width=20%>Last Name</th>
                            <th scope="col" width=20%>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getSurname()}"></td>
                            <td th:utext="USER"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- div + table close -->
        </div>
    </div><!--Close Right panel-->
</div><!--Close Main Article-->
</body>
</html>